*{
    margin: 0;
    box-sizing: border-box;
}
.bg{
    background-color: #22174D;
    margin: 80px;
    align-items: center;
    text-align: center;
}
.background{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 80px;
    border-radius: 24px;
}

.heading{
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    color: white;
}
.subheading{
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: white; 
    margin-top: 16px;
}
.books{
    font-size: 18px;
    font-weight:100;
    margin-top: 40px;
    color: white;
}
.table{
    padding: 24px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 12px;
}
table{
    border-collapse: collapse;
    border-color: white;
    
}
thead{
    border: 1px solid white;
}
tr{
    border: 1px solid white;
}

td{
    border: 1px solid white;
    padding: 10px;
    color: white;
    text-align: center;
    font-style: italic;
}
th{
    border: 1px solid white;
    padding: 10px;
    color: white;
    text-align: center;
}
.main{
    display: inline-block;
    padding: 18px 24px;
    margin: 24px;
    background-color: #6EDE92;
    color: #0D081C;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}
.video{
    display: inline-block;
    padding: 18px 24px;
    border: 2px, solid, #9878F2;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}
